@import "_variables";

/* BASE */

@font-face {
  font-family:"Pixel Square";
  src:url("/fonts/Pixel Square 10.woff2") format("woff2"),url("/fonts/Pixel Square 10.woff") format("woff"),url("/fonts/Pixel Square 10.otf") format("opentype");
  font-style:normal;font-weight:400;
}
@font-face {
  font-family:"Pixel Square Bold";
  src:url("/fonts/Pixel Square Bold10.woff2") format("woff2"),url("/fonts/Pixel Square Bold10.woff") format("woff"),url("/fonts/Pixel Square Bold10.otf") format("opentype");
  font-style:normal;font-weight:400;
}

html {
  font-size: 20px
}

html, body {
  height: 100%;
}

body {
  /* background-color: var(--red); */
  color: #000;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

.f-pixel {
  font-family: "Pixel Square";
}

.f-pixel-old {
  font-family: "Pixel Square Bold";
}

/* COMMON */

.embed-container {
  background-color: #fff;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:0;
  }
}

.full-section {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  height: auto;

  @screen md {
    height: 1px;
    @apply h-full;
  }
}

.center-out {
  @apply flex justify-center items-center;
  /* min-height: 80vh; */
  @screen md {
    @apply  h-full;
  }
  .center-in {}
}

.text-box {
  @apply px-4 py-2 bg-black text-white no-underline uppercase leading-tight cursor-pointer;
}

.link-box {
  @apply px-4 py-2 bg-black text-white no-underline uppercase leading-tight block cursor-pointer;
  &:hover {
    @apply bg-white text-black;
  }
  @screen md {
    @apply inline-block leading-none;
  }
}

.mobile-hidden {
  display: none;
  @screen md {
    display: block;
  }
}