.logotipo {
  @apply p-5 bg-white;
}

.mobile-header {
  @screen md {
    @apply hidden;
  }
}

.menu-dropdown-sticky {

  position: sticky;
  top: 0;
  z-index: 10;

  .logotipo {
    @apply hidden;
  }
  @screen md {
    @apply flex;
    .logotipo {
      @apply block max-w-xs;
    }
  }

  .page-title {
    @apply p-8 py-4 bg-black text-white text-2xl leading-none uppercase;
    font-family: "Pixel Square";
    span {
      display: block;
      margin-top: 5px;
    }
    @screen md {
      @apply flex flex-grow py-8 pl-0 text-4xl; 
      &::before {
        content: ">\00a0";
      }
    }
  }

  .menu-dropdown {
    
    @apply p-5 text-xl relative;
    /* font-family: "Pixel Square"; */
    background: #8a8a8a;

    .menu-toggle {
      @apply px-2 py-1 relative;
      background-color: black;
      color: #fff;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;
      width: 100px;
      z-index:2;
    }
    .menu-content {
      @apply absolute bg-white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s;
      top: 25px;
      left: 25px;
      width: calc(100% -2.5rem);
      z-index: 1;
      &.is-open {
        max-height: 700px;
      }
    }

    @screen md {
      
      @apply bg-black text-2xl;
      
      &.no-title {
        @apply flex-grow;
      }

      .menu-toggle {
        width: 182px;
      }

      .menu-content {
        @apply m-0;
        top: 131px;
        left: 0px;
        width: 300px;
        &.is-open {
          @apply pt-0;
        }
      }
      
    }

  }
}

.site-menu-1 {
  @apply py-5 pt-12;
  li {
    @apply list-none m-0 p-0 uppercase;
    a {
      @apply p-2 pl-4 block leading-none;
      &:hover, &:focus {
        @apply bg-black text-white;
      }
    }
  }
  @screen md {
    @apply py-5;
  }
}