.page-content {

  background: var(--yellow);
  /* background: #f6f6f6; */
  @apply p-5 overflow-hidden;
  
  @screen md {
    @apply py-8 px-16  text-lg;
  }

  @screen lg {
    @apply py-16 px-32 text-lg;
  }

  a:not(.link-box) {
    @apply underline;
  }

  h3 {
    @apply text-2xl my-8 leading-none;
    @screen md {
      @apply text-4xl;
    }
    &.title-2 {
      @apply text-xl text-left;
    }
  }

  p {
    @apply mb-4;
  }
  p.text-box {
    @apply my-10;
  }

  .embed-container {
    @apply my-5;
    @media (max-width: 640px) {
      @apply -mt-5 -mx-5 mb-5 max-w-none;
      width: 100vw;
      padding-bottom: 56.25vw;
    }
  }

  .info-box {
    @apply my-4 flex flex-col items-stretch;
    @screen md {
      @apply flex-row;
    }
    .figure {
      min-height: 14rem;
      @screen md {
        @apply w-1/3;
      }
    }
    .box {
      @apply p-4 bg-white;
      .text-box {
        @apply m-0 mb-2;
      }
      @screen md {
        @apply w-2/3;
      }
    }
  }

}

.cat-feed {
  @apply -m-2;
  @screen md {
    @apply flex flex-wrap;
  }
  .cat-feed-item {
    @apply p-1;
    .link-box {
      @apply block;
    }
    @screen md {
      @apply w-1/2;
    }

    @screen lg {
      @apply w-1/3;
    }
  }
}

.noticias-feed {
  @apply -m-2;
  @screen md {
    @apply flex flex-wrap;
  }
  .noticias-feed-item {

    .box {
      @apply m-2 p-4 bg-white block no-underline;
      img {
        @apply w-full mb-4;
      }
      &:hover, &:focus {
        @apply bg-black text-white;
      }
      p {
        @apply m-0 leading-tight;
      }
    }

    @screen md {
      @apply w-1/2;
    }

    @screen lg {
      @apply w-1/3;
    }

  }
}

.videos-feed {
  @apply -m-2;
  @screen md {
    @apply flex flex-wrap;
  }
  .videos-feed-v {
  
    .box {
      @apply m-2 p-4 bg-white block no-underline;
      img {
        @apply w-full mb-4;
      }
      &:hover, &:focus {
        @apply bg-black text-white;
      }
      p {
        @apply m-0 leading-tight;
      }
    }

    @screen md {
      @apply w-1/2;
    }

    @screen lg {
      @apply w-1/3;
    }
  }
}