.page-content {

  background: var(--yellow);
  @apply p-5;
  
  @screen md {
    @apply p-16 text-lg;
  }

  @screen lg {
    @apply p-32 text-lg;
  }

  a:not(.link-box) {
    @apply underline;
  }

  h3 {
    @apply text-2xl mb-2 leading-none;
    @screen md {
      @apply text-4xl;
    }
  }

  p {
    @apply mb-2;
  }

  .embed-container {
    @apply my-5;
    @media (max-width: 640px) {
      @apply -mt-5 -mx-5 mb-5 max-w-none;
      /* width: 100vw;
      padding-bottom: 56.25vw; */
    }
  }

}


.videos-feed {
  @apply -m-2;
  @screen md {
    @apply flex flex-wrap;
  }
  .videos-feed-v {
  
    .box {
      @apply m-2 p-4 bg-white block no-underline;
      img {
        @apply w-full mb-4;
      }
      &:hover, &:focus {
        @apply bg-black text-white;
      }
      p {
        @apply m-0 leading-tight;
      }
    }

    @screen md {
      @apply w-1/2;
    }

    @screen lg {
      @apply w-1/3;
    }
  }
}