.react-pdf__Page__canvas{
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
}

.obra-buttons{
    display: flex;
}

.obra-buttons button, .obra-buttons>p{
    margin-left: 1vw;
}

.repertorio-container{
    background-color: yellow;
    display: flex;
    height: 100%;
}

.player{
    width: 100% !important;
    height: 150px !important;
}

.repertorio-video-container{
    background-color:white;
    width: 100%;
}

.acompanhe{
    color: white;
    background-color: black;
    font-size: 0.8em;
    padding: 0.2em;
    margin-bottom: 0 !important;
}

.repertorio-title{
    background-color: gainsboro;
    margin-top: 1rem;
    margin-bottom: 0 !important;
    padding: 0.3em;
    font-size: 0.9rem;
}

.repertorio-inner{
    padding: 0.3em;
    font-size: 0.8rem;
}

.left-container{
    width: 25%;
}

.partituras-container{
    background-color: white;
    width: 75%;
    margin-left: 1rem;
    height: 100%;
}

.partitura-title{
    min-height: 10%;
    margin-bottom: 0 !important;
    background-color: gainsboro;
    width: 100%;
    color: gainsboro;
}

.partitura{
    height: 100%;
}

@media(max-width: 768px){
    .repertorio-container {
        flex-direction: column;
    }
    .repertorio-video-container {
        height: 100vh;
    }
    .left-container {
        width: 100%;
    }
    .partituras-container {
        margin-top: 5vh;
        width: 100%;
        margin-left: 0;
    }
    .partitura {
        width: 100%;
        
    }
}