@import "_variables";

.home-news {
  .cols{
    @apply flex flex-col h-full;
    @screen md {
      @apply flex-row;
    }
    .col {
      @apply h-full relative;

      .text-box{
        @apply mb-8;
        width: 95%;
      }
      &.agenda {
        @apply flex flex-col h-auto p-8 bg-white py-32;
        background-color: var(--yellow);
        
        @screen md {
          @apply w-1/2;
        }

        @screen lg {
          @apply w-5/12 py-0;
        }
        
        .btn-container {
          @apply text-center mt-8;
        }
      }
      &.slider-noticias {

        @screen md {
          @apply w-1/2;
        }

        @screen lg {
          @apply w-7/12;
        }

        .swiper-container,
        .swiper-wrapper,
        .swiper-slide {
          @apply h-full;
          min-height: 70vh;
          background-size: cover !important;
        }

        .noticia {
          @apply mb-4 p-10 h-full;
          background-size: cover;
          color: white;
          min-height: 70vh;
          .wrapper {
            @apply h-full flex flex-col justify-end;
            min-height: 70vh;
          }
          .content {
            @apply p-4 mb-4 border-black border-4;
            background-color: var(--yellow);
            h3 {
              @apply text-xl text-black mb-1 uppercase;
            }
            p {
              @apply text-black text-base mb-1;
            }
            .post-call {
              @apply hidden;
              @screen lg {
                @apply block;
              }
            }
            .post-date {
              @apply text-xs;
            }
          }
          .bt-group {
            @apply text-left;
          }
          .bt {
            background: var(--yellow);
            @apply px-4 py-2 text-black border-black border-4 mb-2 inline-block uppercase font-medium;
            &:hover,&:focus {
              @apply bg-black text-white;
            }
          }
        }
      }
    }
  }
}
.agenda-item {
  @apply flex mb-4;
  .agenda-date {
    @apply px-3 w-3/12 text-center border-r border-black;
    min-width: 90px;
    h3 {
      @apply text-5xl leading-none mb-1;
    }
    p {
      @apply text-base mb-0;
      color: black;
    }
  }
  .agenda-content {
    @apply px-3 w-9/12;
    h3 {
      @apply text-sm mb-1;
      color: black;
    }
    p {
      @apply text-base leading-none;
    }
  }
}



