@import "_variables";

section.landing {

  background: var(--yellow);

  .cols {

    @apply flex flex-col;
    
    li {
      a {
        @apply flex content-center;
        span {
          @apply block leading-none mr-2;
        }
      }
    }

    p img {
      @apply inline-block;
    }

    p a:not(.link-box){
      text-decoration: underline;
    }
    
    @screen md {
      @apply flex-row;
      & > div {
        @apply w-1/2;
      }
      & > div:nth-child(2) {
        text-align: right;
      }
    }
  }
}